%script{:src => "/javascripts/scripts.js", :type => "text/javascript"}
- pacz_name = ''
- workflowPath = ''
- readmePath = ''
- inputPath = ''
- if @tree
  - @tree.entries.each_with_index do |row, index|
    - if row.name.split(//).last(5).join == '_pacz'
      - pacz_name = row.name[0...-5] + '.pacz'
      - workflowPath = 'workflows/' + pacz_name + '?'
      - inputPath = "#{@project.path}/raw/#{@ref}/#{row.name}/input.txt"
    - elsif row.name == 'README.md'
      - readmePath = "#{@project.path}/raw/#{@ref}/#{row.name}"
%div
  .btn.btn-primary{:type => "button", :onclick => "copyMCCPath('#{workflowPath}')"} URL for Jupyter
  = link_to "Run Workflow", "http://10.10.9.55/ui/#/workflow", class: "btn btn-primary"
  .btn.btn-primary{:type => "button", :onclick => "runPython('#{readmePath}', '#{inputPath}')"} Verify Workflow
