- pipeline = local_assigns.fetch(:pipeline) { project.latest_successful_pipeline_for(ref) }

- if !project.empty_repo? && can?(current_user, :download_code, project)
  - archive_prefix = "#{project.path}-#{ref.tr('/', '-')}"
  .project-action-button.dropdown.inline>
    %button.btn.has-tooltip{ title: s_('DownloadSource|Download'), 'data-toggle' => 'dropdown', 'aria-label' => s_('DownloadSource|Download'), 'data-display' => 'static', data: { qa_selector: 'download_source_code_button' } }
      = sprite_icon('download')
      %span.sr-only=  _('Select Archive Format')
      = sprite_icon("arrow-down")
    .dropdown-menu.dropdown-menu-right{ role: 'menu' }
      %section
        %h5.m-0.dropdown-bold-header= _('Download source code')
        .dropdown-menu-content
          = render 'projects/buttons/download_links', project: project, ref: ref, archive_prefix: archive_prefix, path: nil
      - if Feature.enabled?(:git_archive_path, default_enabled: true)
        - if vue_file_list_enabled?
          #js-directory-downloads{ data: { links: directory_download_links(project, ref, archive_prefix).to_json } }
        - elsif directory? && (@path.split(//).last(5).join == "_pacz" || @path.split(//).last(5).join == "_pxcz")
          %section.border-top.pt-1.mt-1
            %h5.m-0.dropdown-bold-header= _("Download this pacz/pxcz" )
            .dropdown-menu-content
              = render 'projects/buttons/pcz_download_links', project: project, ref: ref, archive_prefix: archive_prefix, path: @path
        - elsif directory?
          %section.border-top.pt-1.mt-1
            %h5.m-0.dropdown-bold-header= _('Download this directory')
            .dropdown-menu-content
              = render 'projects/buttons/download_links', project: project, ref: ref, archive_prefix: archive_prefix, path: @path
     
      - if pipeline && pipeline.latest_builds_with_artifacts.any?
        %section.border-top.pt-1.mt-1
          %h5.m-0.dropdown-bold-header= _('Download artifacts')
          - unless pipeline.latest?
            %span.unclickable= ci_status_for_statuseable(project.pipeline_for(ref))
          %h6.m-0.dropdown-header= _('Previous Artifacts')
          %ul
            - pipeline.latest_builds_with_artifacts.each do |job|
              %li= link_to job.name, latest_succeeded_project_artifacts_path(project, "#{ref}/download", job: job.name), rel: 'nofollow', download: ''
