%script{:src => "/javascripts/scripts.js", :type => "text/javascript"}

.btn-group.ml-0.w-100
  - archive_path = project_archive_path(project, id: tree_join(ref, archive_prefix), path: path, format: "zip")
  - hrefPath = external_storage_url_or_path(archive_path)
  .btn.btn-xs.btn-primary{:type => "button", :download => "", :onclick => "downloadPacz('#{project.name}', '#{path}', '#{ref}', '#{archive_path}' )"} pacz
