<table rules="columns" frame="hsides" border="1">
    <tr>
        <th>Run ID</th>
        <th>surfaceArea</th>
        <th>thickness</th>
        <th>Output</th>
        <th>padCost</th>
        <th>Expected Output</th>
        <th>padCost</th>
        <th>Result Verification</th>
        <th>padCost</th>
    </tr>
    <tr>
        <td>0</td>
        <td>1.0</td>
        <td>1.0</td>
        <td></td>
        <td>2.0</td>
        <td></td>
        <td>2.0</td>
        <td></td>
        <td>True</td>
    </tr>
    <tr>
        <td>1</td>
        <td>5.0</td>
        <td>5.0</td>
        <td></td>
        <td>50.0</td>
        <td></td>
        <td>50.0</td>
        <td></td>
        <td>True</td>
    </tr>
</table>